footer {
  background: #df603a;
  height: 100px;
  position: relative;
  color: #fff;
  overflow: auto;
  display: block;
}

.footer>.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E64A19;
  padding: 8px;
  font-weight: 600;
}